Lab 2 - Working with Sensors Sending to IBM Cloud/DHT_C_to_F.json
[{"id":"fdc5233b.bcb74","type":"grovepi-temperature","z":"4649577e.056338","name":"DHT Sensor","pin":"3","x":230,"y":220,"wires":[["8ffa1ca6.5a113"]]},{"id":"6e2c9e82.06a7d","type":"debug","z":"4649577e.056338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":340,"wires":[]},{"id":"8ffa1ca6.5a113","type":"delay","z":"4649577e.056338","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":120,"wires":[["19fae066.73a94"]]},{"id":"ea50a321.9e8ca","type":"function","z":"4649577e.056338","name":"Format message","func":"temp = msg.payload[0];\nhumi = msg.payload[1];\n\nmsg.payload = 'Temp = ' + temp + ' F and Humidity = ' + humi + ' %';\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["6e2c9e82.06a7d"]]},{"id":"19fae066.73a94","type":"function","z":"4649577e.056338","name":"C to F","func":"msg.payload[0] = ((9 / 5) * msg.payload[0]) + 32;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["ea50a321.9e8ca"]]}]