Lab 2 - Working with Sensors Sending to IBM Cloud/DHT_Format_Message.json
[{"id":"fdc5233b.bcb74","type":"grovepi-temperature","z":"4649577e.056338","name":"DHT Sensor","pin":"3","x":230,"y":220,"wires":[["8ffa1ca6.5a113"]]},{"id":"6e2c9e82.06a7d","type":"debug","z":"4649577e.056338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":220,"wires":[]},{"id":"8ffa1ca6.5a113","type":"delay","z":"4649577e.056338","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":120,"wires":[["ea50a321.9e8ca"]]},{"id":"ea50a321.9e8ca","type":"function","z":"4649577e.056338","name":"Format message","func":"temp = msg.payload[0];\nhumi = msg.payload[1];\n\nmsg.payload = 'Temp = ' + temp + ' C and Humidity = ' + humi + ' %';\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["6e2c9e82.06a7d"]]}]