Lab 2 - Working with Sensors Sending to IBM Cloud/Sound_to_dB.json
[{"id":"da923670.255888","type":"grovepi-sound","z":"e4ef27c9.6199c8","name":"Sound Sensor","pin":"2","x":90,"y":140,"wires":[["71a574e0.913bbc"]]},{"id":"71a574e0.913bbc","type":"delay","z":"e4ef27c9.6199c8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":140,"wires":[["13348740.ce4879"]]},{"id":"67095591.bfd8ac","type":"debug","z":"e4ef27c9.6199c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":400,"wires":[]},{"id":"13348740.ce4879","type":"function","z":"e4ef27c9.6199c8","name":"to DB","func":"let dB = (msg.payload + 83.2073) / 11.003;\nmsg.payload = `Sound reading = ${dB.toFixed(2)} dB`;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["67095591.bfd8ac"]]}]