Lab 1 - Node-RED Application/Exercise 1 - Hello World.json
[{"id":"f49336da.0a2c08","type":"inject","z":"d937842c.a59748","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["2576a94c.e94e56"]]},{"id":"77e2bcb5.144e94","type":"debug","z":"d937842c.a59748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":260,"wires":[]},{"id":"2576a94c.e94e56","type":"function","z":"d937842c.a59748","name":"Hello World","func":"msg.payload = \"Hello World\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["77e2bcb5.144e94"]]}]