Lab 1 - Node-RED Application/Exercise 5 - Http Node.json
[{"id":"7f97ce29.de9b5","type":"http in","z":"71c398b8.cbaf08","name":"/time","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":190,"y":820,"wires":[["83201d71.eb773"]]},{"id":"4d7fd17d.dc6dc","type":"http in","z":"71c398b8.cbaf08","name":"/random","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":200,"y":760,"wires":[["3312b55e.ec0eca"]]},{"id":"4f255b3b.e1e414","type":"http in","z":"71c398b8.cbaf08","name":"/page","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":190,"y":880,"wires":[["124b6291.641a8d"]]},{"id":"83201d71.eb773","type":"function","z":"71c398b8.cbaf08","name":"time","func":"var time = new Date();\nvar hour = time.getHours() < 10? '0'+time.getHours():time.getHours()\nvar minute = time.getMinutes() < 10? '0'+time.getMinutes():time.getMinutes()\nglobal.set(\"reqTime\", hour+':'+minute);\nmsg.payload = {\"time\": hour+':'+minute};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["69f07ce0.10bb04"]]},{"id":"3312b55e.ec0eca","type":"random","z":"71c398b8.cbaf08","name":"random","low":"1","high":"10","inte":"true","property":"payload","x":360,"y":760,"wires":[["de5bbdce.f7de1"]]},{"id":"b0973acd.0cd478","type":"http response","z":"71c398b8.cbaf08","name":"","statusCode":"","headers":{},"x":710,"y":848,"wires":[]},{"id":"124b6291.641a8d","type":"template","z":"71c398b8.cbaf08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{{#global.reqTime}}\nLast server time request recieved at {{global.reqTime}} </br>\n{{/global.reqTime}}\n\n{{#global.random}}\nLast random number request returned {{global.random}}, which was received at {{global.randomTime}}\n{{/global.random}}\n\n{{^global.reqTime}}\nNo server time requests have been received\n{{/global.reqTime}}\n\n{{^global.random}}\nNo requests for random numbers have been received    \n{{/global.random}}","output":"str","x":360,"y":880,"wires":[["7ba5ca91.48e944"]]},{"id":"de5bbdce.f7de1","type":"function","z":"71c398b8.cbaf08","name":"random","func":"global.set(\"random\", msg.payload);\nmsg.payload = {\"random\": msg.payload};\nvar time = new Date();\nvar hour = time.getHours() < 10? '0'+time.getHours():time.getHours()\nvar minute = time.getMinutes() < 10? '0'+time.getMinutes():time.getMinutes()\nglobal.set(\"randomTime\", hour+':'+minute);\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":760,"wires":[["69f07ce0.10bb04"]]},{"id":"7ba5ca91.48e944","type":"function","z":"71c398b8.cbaf08","name":"setHTTPheader","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":880,"wires":[["b0973acd.0cd478"]]},{"id":"69f07ce0.10bb04","type":"function","z":"71c398b8.cbaf08","name":"setHTTPheader","func":"// If sending JSON data the content type is:\nmsg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\n// msg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":820,"wires":[["b0973acd.0cd478"]]}]