Lab 1 - Node-RED Application/Exercise 4 - Exec Node.json
[{"id":"a17ae4a.98b9d18","type":"inject","z":"42ab18ed.bb7618","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":"","x":74,"y":560,"wires":[["ec1bfc6.ea691"]]},{"id":"ec1bfc6.ea691","type":"exec","z":"42ab18ed.bb7618","command":"vcgencmd measure_temp","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":272,"y":559.5,"wires":[["88628330.72bde"],[],[]]},{"id":"88628330.72bde","type":"function","z":"42ab18ed.bb7618","name":"tempPair","func":"msg.payload = {\"d\": {\"temp\": parseFloat(msg.payload.slice(5,-3))}};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":546,"wires":[["ac63c25f.aeca"]]},{"id":"ac63c25f.aeca","type":"debug","z":"42ab18ed.bb7618","name":"","active":true,"console":"false","complete":"false","x":632,"y":545,"wires":[]}]