Lab 1 - Node-RED Application/Exercise 3 - Random Node.json
[{"id":"f3872254.9a511","type":"inject","z":"6f3033dc.b34e8c","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":110,"y":500,"wires":[["5a3d9b7.3b68964"]]},{"id":"5a3d9b7.3b68964","type":"random","z":"6f3033dc.b34e8c","name":"","low":"1","high":"10","inte":"true","property":"payload","x":260,"y":500,"wires":[["f766bc1f.c106e"]]},{"id":"fd192f1a.fe341","type":"debug","z":"6f3033dc.b34e8c","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":570,"y":500,"wires":[]},{"id":"f766bc1f.c106e","type":"function","z":"6f3033dc.b34e8c","name":"pair","func":"msg.payload = msg.payload < 5? \n'Number ' + msg.payload + ' is a low number':\n'Number ' + msg.payload + ' is a high number';\nreturn msg;","outputs":1,"noerr":0,"x":412,"y":500,"wires":[["fd192f1a.fe341"]]}]